:root{
    
}

body.light{
    --primary-bg-color: white;
    --secondary1-bg-color: green;
    --secondary2-bg-color: green;
    --header-text-color: green;
    --sub-header-text-color: white;
    --text-color: white;
}

body.dark{
    --primary-bg-color: black;
    --secondary1-bg-color: red;
    --secondary2-bg-color: green;
    --header-text-color: green;
    --sub-header-text-color: white;
    --text-color: white;
}

.header{
    
}

.sub-header{
    
}

.text{
    
}

.link{
    text-decoration: none;
}

.row-display{
    display: flex;
}

.column-display{
    
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--primary-bg-color);
}

#top-nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary1-bg-color);
}

#main{
    
}

footer{
    background-color: var(--secondary2-bg-color);
}

@media screen and max-width(600px){
    
}